In [ ]:
def npc(a,b):
  if a>b:
    print(f"{a} es el mayor")
  else: 
    print(b, "es el mayor ")

In [ ]:
print(npc(5,4))

5 es el mayor
None

In [ ]:
def mayor(x,y,z):
  npc(x,npc(y,z))

In [ ]:
print(mayor(4,5,6))

##EJERCICIOS DE METODOS

##1. Determine el mayor de dos números:

In [ ]:
def npc(a,b):
  if a>b:
    print(f"{a} es el mayor")
  else: 
    print(b, "es el mayor ")

5 es el mayor
None

In [ ]:
print(npc(5,4))

##2. Determine el mayor de tres números (empleando la función anterior):

In [ ]:
def mayor(x,y,z):
  npc(x,npc(y,z))

In [ ]:
print(mayor(4,5,6))

6 es el mayor

TypeError: ignored

##3. Sumar los números de una lista de 3 elementos. Ejemplo [3,4,5]. Salida: 12

In [ ]:
lista = [3,4,5]

def sumar(lista):
  suma = 0
  for elementos in lista:
       suma+= elementos
  return suma

In [ ]:
print(sumar(lista))

12

##4. Sumar los números de una lista de 4 elementos. Ejemplo [3,4,5,6]. Salida: 18

In [ ]:
lista2 = [3,4,5,6]

def sumar(lista):
  suma = 0
  for elementos in lista:
      suma+=elementos
  return suma

In [ ]:
print(sumar(lista2))

18

##5. Sumar todos los números de una lista. Ejemplo: (8,5,3,1). Salida: 17

In [ ]:
def sumar(number1,number2,number3,number4):
    print(number1+number2+number3+number4)

sumar(8,5,3,1)    
   


def sumar_lista(numeros):

  productos2 = 0

  for numero in numeros:
      productos2+=numero

  return productos2

numeros=[8,5,3,1]      

print(sumar_lista(numeros))

17
17

##6. Multiplicar los números de una lista de 3 elementos. Ejemplo [0,4,5]. Salida: 0

In [ ]:
lista3 = [0,4,5]

def multiplicar(lista):
  multiplicar = 0
  for elementos in lista:
      multiplicar*=elementos
  return multiplicar

In [ ]:
print(multiplicar(lista3))

0

##7. Multiplicar los números de una lista de 4 elementos. Ejemplo [3,4,5,1]. Salida: 60

In [ ]:
lista4 = [3,4,5,1]
 
def multiplicar(lista):
  multiplicar = 1
  for elementos in lista:
      multiplicar*=elementos
  return multiplicar

In [ ]:
print(multiplicar(lista4))

60

##8. Multiplicar todos los números de una lista. Ejemplo: (1,2,3,-1). Salida: -6

In [ ]:
def multiplicar_lista(numeros):

  productos = 1 

  for numero in numeros:
      productos*=numero

  return productos

numeros=[1,2,3,-1]      

print(multiplicar_lista(numeros))

-6

##9. Invierta un String. Ejemplo: ingresa Hola y retorna aloH

In [ ]:
texto = "Hola"

texto_invertido ="".join(reversed(texto))

print(texto)
print(texto_invertido)

Hola
aloH

##10. Calcular el factorial de un número

In [ ]:
def factorial(n): 
    return 1 if (n==1 or n==0) else n * factorial(n - 1);  
  
num = 4; 
print(" El Factorial de",num,"es el ", factorial(num))


from math import factorial

print (" El Factorial es", factorial(3))

Factorial de 4 es 24
Factorial is 6

##11. Si un número está dentro de un rango.

In [ ]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
x = range(10)
x
range(0, 10)
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
range(7)
range(0, 7)
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

##12. Capture el número de mayúsculas y minúsculas en una oración.

##SOLUCIONES DE LAS LISTAS:

In [ ]:
## resuelto

lista=[1,2,3,4,5]
a=0
for i in range(len(lista)):
  a=a+lista[i]
print(a)

15

In [ ]:
faker=0
#solo funciona para listas:
for trampositos in lista:
  faker+=trampositos
print(faker)

15

##lambda:
es una función anonima 
se invoca con la palabra clave lamba

Declarar

lambda (variable):(funcion)

In [ ]:
#Aqui x es una variable local
a=lambda x:x+2

In [ ]:
print(a(1))

3

In [ ]:
#Aqui x es una variable global
x=int(input("ingrese un numero "))
print(a(x))

ingrese un numero 4
6

In [ ]:
par=lambda x:x%2==0

In [ ]:
print(par(2))

True

In [ ]:
if par:
  print("Es par")
else:
  print("Es impar")

Es par